

<!DOCTYPE html>
<html>
<head>
    <title>
        一米好地 房产众筹 - Beta
    </title>
    <link rel="shortcut icon" href="content/images/favicon.ico" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    @*<link rel="stylesheet" type="text/css" href="content/style/bootstrap.min.css" tppabs="http://www.yimihaodi.com/content/style/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="content/style/default.css" tppabs="http://www.yimihaodi.com/content/style/default.css" />
        <script type="text/javascript" src="Scripts/jquery-1.11.3.js" tppabs="http://www.yimihaodi.com/Scripts/jquery-1.11.3.js"></script>

        <script type="text/javascript" src="content/script/bootstrap.min.js" tppabs="http://www.yimihaodi.com/content/script/bootstrap.min.js"></script>
        <script type="text/javascript" src="content/script/util.js" tppabs="http://www.yimihaodi.com/content/script/util.js"></script>
        <script type="text/javascript" src="content/script/common.js" tppabs="http://www.yimihaodi.com/content/script/common.js"></script>
        <script type="text/javascript" src="content/script/jquery.validate.js" tppabs="http://www.yimihaodi.com/content/script/jquery.validate.js"></script>
        <script type="text/javascript" src="content/script/jquery.validate.extend.js" tppabs="http://www.yimihaodi.com/content/script/jquery.validate.extend.js"></script>
        <link rel="stylesheet" type="text/css" href="Plugins/owl-carousel/owl.carousel.css" tppabs="http://www.yimihaodi.com/Plugins/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="Plugins/owl-carousel/owl.theme.css" tppabs="http://www.yimihaodi.com/Plugins/owl-carousel/owl.theme.css" />
        <link rel="stylesheet" type="text/css" href="content/font-awesome-ie7.min.css" tppabs="http://www.yimihaodi.com/content/font-awesome-ie7.min.css" />
        <script type="text/javascript" src="Plugins/owl-carousel/owl.carousel.js" tppabs="http://www.yimihaodi.com/Plugins/owl-carousel/owl.carousel.js"></script>
        <script type="text/javascript" src="Scripts/jquery.cookie.js" tppabs="http://www.yimihaodi.com/Scripts/jquery.cookie.js"></script>

        <link rel="stylesheet" type="text/css" href="content/style/block.css" tppabs="http://www.yimihaodi.com/content/style/block.css" />
        <link rel="stylesheet" type="text/css" href="content/style/app.css" tppabs="http://www.yimihaodi.com/content/style/app.css" />*@

    @RenderSection("css",false)

    <style type="text/css">
        @@-ms-viewport {
            width: device-width;
        }

        @@-webkit-viewport {
            width: device-width;
        }

        @@-moz-viewport {
            width: device-width;
        }

        @@-ms-viewport {
            width: device-width;
        }

        @@-o-viewport {
            width: device-width;
        }

        @@viewport {
            width: device-width;
        }
    </style>

    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                document.createTextNode(
                    '@@-ms-viewport{width:auto!important}'
                )
            );
            document.querySelector('head').appendChild(msViewportStyle);
        }

        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "../hm.baidu.com/hm.js-237228d7e7724bff0c4ed484f47f415a"/*tpa=http://hm.baidu.com/hm.js?237228d7e7724bff0c4ed484f47f415a*/;
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

    </script>
    <meta />
</head>
<body>
    <img src="content/images/logo_width_0.png" tppabs="http://www.yimihaodi.com/content/images/logo_width_0.png" width="0" height="0" style="display: block" />

    @Html.Partial("_Header")

    @RenderBody()


    @Html.Partial("_Footer")

    <div class="btn-back-top">
        <img src="content/images/btn-back-to-top.png" tppabs="http://www.yimihaodi.com/content/images/btn-back-to-top.png">
        <div class="text">TOP</div>
    </div>
    <script type="text/javascript">
        $(".ewm").hover(function () { $("#ewm_" + $(this).attr("t")).show(); }, function () { $("#ewm_" + $(this).attr("t")).hide(); });
    </script>
    @RenderSection("script",false)
</body>
</html>
<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

    //    $(function() {
    //        var parentId = GetQueryString("parentId");
    //        if (parentId !== null) {
    //            $.removeCookie('parentId');
    //            $.cookie("parentId", parentId, { expires: 7 });
    //        }
    //    });

</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "../hm.baidu.com/hm.js-237228d7e7724bff0c4ed484f47f415a"/*tpa=http://hm.baidu.com/hm.js?237228d7e7724bff0c4ed484f47f415a*/;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>